body,
#root {
	height: 100vh;
}

#root {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr;
	grid-template-areas: 'main' 'footer';
}

.App {
	text-align: center;
	grid-area: main;
}

.App-header {
	background-color: #111;
	height: 60px;
	padding: 20px;
	color: #fff;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

footer {
	background-color: black;
	color: white;
	grid-area: footer;

	padding: 3rem;
	font-size: 0.8rem;
}

footer .wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

footer img {
	max-width: 6.25em;
	height: auto;
	display: inline-block;
}

footer a:link {
	color: rgb(30, 213, 169);
}

footer a:visited {
	color: white;
}

footer a:is(:hover, :focus) {
	color: rgb(1, 180, 228);
}

footer a:active {
	color: black;
	background: rgb(1, 180, 228);
	background-image: linear-gradient(to right, rgb(30, 213, 169) 0%, rgb(1, 180, 228) 100%);
}
